@import '../../styles/variables.scss';

.logo {
  border-bottom: 1px solid $--gray-light;
  @include --box-global;

  padding: $--pad-y;

  & img {
    width: 100px;
    margin: 0 auto;
  }
}

.product-detail {
  @include --box-global;
  background: $--white;
  padding: $--pad-y;

  & a {
    text-decoration: none;
    color: $--black;
  }

  // ITEM DEFAULT
  &__thumbnail {
    @include --box-border {
      margin-bottom: 5px;
    }

    @include --mobile {
      float: inherit;
      max-width: inherit;
      max-height: inherit;
      height: inherit;
    }

    & img {
      max-height: 100%;
      margin: 0 auto;

      @include --mobile {
        width: 100%
      }
    }
  }

  // ITEMS
  &--item {
    @include --box-border {
      height: 70px;
      max-height: 70px;
      padding: 5px;
      margin-bottom: 5px;
    }


    @include --mobile-sm {
      height: 40px;
      max-height: 40px;
    }

    & img {
      max-height: 100%;
      margin: 0 auto;
    }
  }

  &--item {
    &:nth-child(1) {
      margin-left: 0px;
      float: left;
    }

    &:nth-child(3) {
      margin-right: 0px;
      float: right;
    }
  }

  &--item.g__col.s4 {
    width: calc(33.33% - 7px);
  }

  // INFO
  &__info {
    padding-left: $--padding;

    @include --mobile {
      padding-left: 0
    }

    @include --tablet {
      padding-left: 0
    }

    &--condition {
      color: $--red;
      font-size: $--font-x-small;
    }

    &--title {
      margin-top: $--margin;
      @include --font-title;
    }

    &--subtitle {
      margin-bottom: $--margin;
      @include --font-subtitle;
    }

    &--msg {
      color: $--gray;
      font-size: $--font-x-small;
      margin-bottom: #{$--margin / 2};
    }

    &--price {
      @include --font-title;
    }
  }

  //BOXES
  &__box {
    padding-left: $--padding;
    margin-top: #{$--margin * 2};

    @include --mobile {
      padding-left: 0
    }

    @include --tablet {
      padding-left: 0
    }

    &--title {
      @include --font-book;
      margin-bottom: $--margin;
    }

    &--subtitle {
      margin-top: 0;
      color: $--black;
      font-size: $--font-small;
    }

    &--desc {
      color: $--gray;
      font-size: $--font-x-small;
    }

    &--price {
      position: absolute;
      top: 38%;
      right: 16px;
      color: $--black;
      font-family: $--bold;
      font-size: $--font-small;
    }

    &--full {
      @include --box-border {
        height: auto;
        padding: $--padding;
        margin-bottom: $--margin;
      }

      @include --mobile {
        float: inherit;
        max-width: inherit;
        max-height: inherit;
        height: inherit;
      }
    }

    &--medium {
      @include --box-border {
        height: auto;
        padding: $--padding;
      }

      width: calc(50% - 5px);
      margin-right: 10px;

      @include --mobile {
        width: 100%;
        margin: 5px 0px;
        margin-left: 0px;
        margin-top: 5px;
        margin-right: 0px;
      }
    }
  }
}

.product-detail__box .product-detail__box--medium:nth-last-child(1) {
  margin-right: 0px;
  float: right;
}