@import '../../styles/variables.scss';

.logo {
  border-bottom: 1px solid $--gray-light;
  @include --box-global;

  & img {
    width: 50px;
    margin: $--margin auto;
  }
}

.float-right {
  float: right;
}

.product-detail {
  @include --box-global;
  background: $--white;
  padding-top: #{$--padding * 2};
  margin-bottom: #{$--margin * 8};

  @include --mobile {
    padding-top: #{$--padding * 2};
  }

  & a {
    text-decoration: none;
    color: $--black;
  }

  // INFO
  &__info {
    padding-left: $--padding;

    @include --mobile {
      padding-left: 0
    }

    @include --tablet {
      padding-left: 0
    }

    &--condition {
      color: $--red;
      font-size: $--font-x-small;
    }

    &--title {
      margin-top: $--margin;
      @include --font-title;
    }

    &--subtitle {
      margin-bottom: $--margin;
      @include --font-subtitle;
    }

    &--msg {
      color: $--gray;
      font-size: $--font-x-small;
      margin-bottom: #{$--margin / 2};
    }

    &--price {
      @include --font-title;
    }
  }

  // PROPERTIES
  &__properties {
    display: none;
    text-align: center;
    margin-top: #{$--margin * 2};
    margin-bottom: #{$--margin * 3};

    & p {
      @include --font-book {
        font-size: $--font-small;
      }

      margin-bottom: $--margin;
    }

    & svg {
      font-size: $--font-big;
    }

    @include --tablet {
      display: initial;
    }

    &--mobile-only {
      display: none;
      text-align: center;
      margin-top: #{$--margin * 2};
      margin-bottom: #{$--margin * 3};

      & p {
        @include --font-book {
          font-size: $--font-small;
        }

        margin-bottom: $--margin;
      }

      & svg {
        font-size: $--font-big;
      }

      @include --mobile {
        display: initial;
      }
    }
  }

  //BOXES
  &__box {
    padding-left: $--padding;
    margin-top: #{$--margin * 2};

    @include --mobile {
      padding-left: 0
    }

    @include --tablet {
      padding-left: 0
    }

    &--title {
      @include --font-book;
      margin-bottom: $--margin;
    }

    &--subtitle {
      margin-top: 0;
      color: $--black;
      font-size: $--font-small;
    }

    &--desc {
      color: $--gray;
      font-size: $--font-x-small;
      width: 90%;

      @include --mobile {
        width: 70%;
      }
    }

    &--price {
      position: absolute;
      top: 38%;
      right: 16px;
      color: $--black;
      font-family: $--bold;
      font-size: $--font-small;
    }

    &--full {
      cursor: pointer;

      @include --box-border {
        height: auto;
        padding: $--padding;
        margin-bottom: $--margin;
      }

      @include --mobile {
        float: inherit;
        max-width: inherit;
        max-height: inherit;
        height: inherit;
      }

      &.active {
        border: 1px solid $--primary;

        &:hover {
          border: 1px solid $--primary;
        }

        &:focus {
          border: 1px solid $--primary;
        }
      }

      &:hover {
        border: 1px solid $--gray-medium;
      }
    }

    &--full .no-margin {
      margin: 0;
    }

    &--medium {
      cursor: pointer;

      @include --box-border {
        height: auto;
        padding: $--padding;
      }

      width: calc(50% - 5px);
      margin-right: 10px;

      @include --mobile {
        width: 100%;
        margin: 5px 0px;
        margin-left: 0px;
        margin-top: 5px;
        margin-right: 0px;
      }

      &.active {
        border: 1px solid $--primary;

        &:hover {
          border: 1px solid $--primary;
        }

        &:focus {
          border: 1px solid $--primary;
        }
      }

      &:hover {
        border: 1px solid $--gray-medium;
      }
    }
  }

  // TABLE
  &__table {
    padding-left: $--padding;
    margin-top: #{$--margin * 2};

    & .g__row {
      border-top: 1px solid $--gray-light;
      height: 50px;

      @include --mobile {
        margin-bottom: $--margin;
        height: inherit;
      }
    }

    & .g__col {
      margin-top: 0;
      margin-bottom: 0;
    }

    @include --mobile {
      padding-left: 0
    }

    @include --tablet {
      padding-left: 0
    }

    &--title {
      @include --font-book;
      margin-bottom: $--margin;
    }

    &--subtitle {

      @include --font-book {
        font-weight: 600;
      }

      font-size: $--font-small;
      padding: $--pad-y;
      margin:0;

      @include --mobile {
        text-align: left;
        padding-top: $--padding;
        padding-bottom: 0;
      }
    }

    &--desc {
      color: $--black;
      font-size: $--font-small;
      text-align: right;
      padding: $--pad-y;

      @include --mobile {
        text-align: left;
        padding-bottom: 0;
        padding-top: #{$--padding / 3};
      }
    }
  }
}

.product-detail__box .product-detail__box--medium:nth-last-child(1) {
  margin-right: 0px;
  float: right;
}

.product-detail__table .g__row:nth-last-child(1) {
  border-bottom: 1px solid $--gray-light;

  @include --mobile {
    padding-bottom: $--padding;
  }
}