@font-face {
  font-family: 'Circular-Std-Medium';
  src: url('../assets/fonts/Circular-Std-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circular-Std-Bold';
  src: url('../assets/fonts/Circular-Std-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circular-Std-Book';
  src: url('../assets/fonts/Circular-Std-Book.ttf') format('truetype');
  font-weight: normal;
}