@import './variables.scss';
@import './grid.scss';
@import './responsive.scss';
@import './fonts.scss';

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  font-family: 'Circular-Std-Bold';
}

h4,
h5,
h6 {
  font-family: 'Circular-Std-Medium';
}

ul,
li,
p,
a {
  font-family: 'Circular-Std-Book';
}

ul,
li,
h1,
h2,
h3,
p,
button {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0px;
}

button {
  background: transparent;
  border: 0;
  outline: 0;
}

body {
  background: $--white;
  height: 100vh;
  margin: 0 auto;
  max-width: 100vw;
  overscroll-behavior: none;
  width: 100%;
}

#app {
  overflow-x: hidden;
  min-height: 100vh;
  padding-bottom: 10px;
  margin-bottom: 60px;
}

/* GENERIC */
.img {
  vertical-align: middle;
  border: 0;

  &--responsive {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.button {
  border-radius: 6px;
  border: 1px solid $--white;
  display: inline-block;
  cursor: pointer;
  color: $--white;
  font-family: $--bold;
  font-size: $--font-normal;
  padding: $--padding #{$--padding};
  text-decoration: none;

  &__primary {
    background-color: $--primary;

    &:hover {
      background-color: $--secondary;
    }
  }

  &--full {
    width: 100%
  }
}