@import '../../styles/variables.scss';

.footer {
  border-top: 1px solid $--gray-light;
  background: $--white-dark;
  z-index: 10;
  position: fixed;
  bottom: 0;
  width: 100%;

  &__container {

    @include --box-global {
      padding-top: #{$--padding * 1.5};
      padding-bottom: #{$--padding * 1.5};
      margin-left: 7.5%;

      @include --tablet {
        margin-left: 15%;
      }

      @include --mobile {
        margin-left: 0;
        padding: 0 5px;
      }
    }
  }

  &--title {
    @include --font-subtitle {
      color: $--black;
      font-size: $--font-small;
    }

    margin-top: 0;
    margin-bottom: #{$--margin / 2};

    @include --mobile {
      display: none
    }
  }

  &--desc {
    @include --font-book {
      color: $--gray;
      font-size: $--font-x-small;
    }

    @include --tablet {
      display: none
    }

    @include --mobile {
      display: none
    }
  }

  &--price {
    margin-top: #{$--margin / 3};
    margin-right: #{$--margin / 2};
    text-align: right;

    @include --font-title {
      color: $--black;
    }
  }

  &--link {
    margin-right: #{$--margin / 2};
    text-align: right;
    float: right;

    @include --font-book {
      font-size: $--font-x-small;
      color: $--gray
    }
  }

  a:hover {
    text-decoration: none;
  }
}

.footer .footer__container .g__col.info {
  @include --mobile {
    display: none
  }
}

.footer .footer__container .g__col.info .g__col h5 {
  @include --tablet {
    margin-top: 0;
    margin-bottom: #{$--margin / 2}
  }
}

.footer .button--full {
  @include --mobile {
    width: auto;
    float: right
  }
}